h1
{
	color:darkblue
}
h1
{
	text-align:center
}
h1
{
	font-family: "Brush Script MT"
}
h1
{
	font-size: 150px
}
h2
{
	color:darkblue
}
h2
{
	text-align: center
}
h2
{
	font-size: 15px
}
body
{
  background-image: url("nop.png")
}
body
{
  background-size: cover
}
h3
{
	font-family: "Century Gothic" 
}
h3
{
	text-align: center 
}
h3
{
	font-family: "Times New Roman"
}
h3
{
	color:darkblue
}

